.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root__global_theme_dark {
  background: rgb(5, 5, 5);
}
.commonLandingPage:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.text__geuMj {
  text-align: center;
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none !important;
  text-overflow: clip !important;
  background: linear-gradient(
      333deg,
      rgb(24, 119, 242) 0%,
      rgb(118, 182, 255) 100%
    )
    padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
.integrateAnywhereSection__fv8FQ:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox {
  display: flex;
  flex-direction: column;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.graphicIcon__cx46:global(.__wab_instance) {
  position: relative;
}
.svg__hx49 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider__bjyNo:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text__eeZn2 {
  height: auto;
}
.graphicIcon__uUQsO:global(.__wab_instance) {
  position: relative;
}
.svg__qOUp {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider__eim0H:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text__nUhs0 {
  height: auto;
}
.graphicIcon__x6LXc:global(.__wab_instance) {
  position: relative;
}
.svg___6BiDm {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
