.root {
  display: flex;
  position: relative;
  padding: 4px 0px;
}
.root__active {
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.slotTargetChildren {
  font-size: 14px;
  font-weight: 700;
  color: rgb(150, 153, 158);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.slotTargetChildren__active {
  color: rgb(50, 52, 54);
}
