.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.pageHero:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.graphicIcon___9REwt:global(.__wab_instance) {
  position: relative;
}
.svg__rAoc {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.valuePropSection__w00L8:global(.__wab_instance) {
  position: relative;
}
.text__zzGaZ {
  height: auto;
}
.graphicIcon__zmb6U:global(.__wab_instance) {
  position: relative;
}
.svg__da09D {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img__fjB0 {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__huhL:global(.__wab_instance) {
  position: relative;
}
.svg___2RjWb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__omDcq:global(.__wab_instance) {
  position: relative;
}
.text__yp0GY {
  color: rgb(69, 189, 98);
  height: auto;
}
.graphicIcon___2L0Zs:global(.__wab_instance) {
  position: relative;
}
.svg__h3WG3 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img___52P1S {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__bAfjs:global(.__wab_instance) {
  position: relative;
}
.svg___254Sy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection___1Kqv7:global(.__wab_instance) {
  position: relative;
}
.text__sI0B {
  color: rgb(247, 185, 40);
  height: auto;
}
.graphicIcon__ep1Fu:global(.__wab_instance) {
  position: relative;
}
.svg___5AWy {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img__r7VJy {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__mGx8T:global(.__wab_instance) {
  position: relative;
}
.svg__nZDxY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__jkyzV:global(.__wab_instance) {
  position: relative;
}
.text__fYkZg {
  color: rgb(247, 185, 40);
  height: auto;
}
.graphicIcon__pmkAs:global(.__wab_instance) {
  position: relative;
}
.svg__fp0Cx {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img___4HfB6 {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink___1Z2Ta:global(.__wab_instance) {
  position: relative;
}
.svg___8LnAi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.footer:global(.__wab_instance) {
  position: relative;
}
