.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.commonLandingPage2:global(.__wab_instance) {
  position: relative;
}
.text__o93TY {
  text-align: center;
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none !important;
  text-overflow: clip !important;
  background: linear-gradient(
      333deg,
      rgb(24, 119, 242) 0%,
      rgb(118, 182, 255) 100%
    )
    padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
.freeBox__vB4Bv {
  display: flex;
  flex-direction: column;
}
.freeBox__vB4Bv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__vB4Bv > :global(.__wab_flex-container) > *,
.freeBox__vB4Bv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vB4Bv > :global(.__wab_flex-container) > picture > img,
.freeBox__vB4Bv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.graphicIcon__bw1Nb:global(.__wab_instance) {
  position: relative;
}
.svg__hDjFq {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider___9Oi:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text__xO8Jh {
  height: auto;
}
.graphicIcon___8MrX:global(.__wab_instance) {
  position: relative;
}
.svg__vvWgm {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider__t9PMp:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text__fN8Gd {
  height: auto;
}
.graphicIcon__cFe3K:global(.__wab_instance) {
  position: relative;
}
.svg__xOrKn {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider__f03Ao:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text___3Oe5J {
  height: auto;
}
.graphicIcon__aui7K:global(.__wab_instance) {
  position: relative;
}
.svg__uIfHy {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.freeBox___9Ynz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___9Ynz > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9Ynz > :global(.__wab_flex-container) > *,
.freeBox___9Ynz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Ynz > :global(.__wab_flex-container) > picture > img,
.freeBox___9Ynz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__m7Kte {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__m7Kte > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__m7Kte > :global(.__wab_flex-container) > *,
.freeBox__m7Kte > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m7Kte > :global(.__wab_flex-container) > picture > img,
.freeBox__m7Kte
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__m7Kte {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__m7Kte > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__m7Kte > :global(.__wab_flex-container) > *,
  .freeBox__m7Kte > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__m7Kte > :global(.__wab_flex-container) > picture > img,
  .freeBox__m7Kte
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__kBV4 {
  position: relative;
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.img__kBV4 > picture > img {
  object-fit: contain;
}
.img__kBV4 > .__wab_img-spacer > img {
  object-fit: contain;
}
.valueA23:global(.__wab_instance) {
  position: relative;
}
.img__sz1Ld {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  min-width: 0;
}
.img__sz1Ld > picture > img {
  object-fit: contain;
}
.img__sz1Ld > .__wab_img-spacer > img {
  object-fit: contain;
}
.freeBox__zyUnz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zyUnz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zyUnz > :global(.__wab_flex-container) > *,
.freeBox__zyUnz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zyUnz > :global(.__wab_flex-container) > picture > img,
.freeBox__zyUnz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__zyUnz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__zyUnz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__zyUnz > :global(.__wab_flex-container) > *,
  .freeBox__zyUnz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zyUnz > :global(.__wab_flex-container) > picture > img,
  .freeBox__zyUnz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.valueA22223:global(.__wab_instance) {
  position: relative;
}
.img__b1LOg {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__b1LOg > picture > img {
  object-fit: contain;
}
.img__b1LOg > .__wab_img-spacer > img {
  object-fit: contain;
}
.valueA222:global(.__wab_instance) {
  position: relative;
}
.img___8ShYl {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img___8ShYl > picture > img {
  object-fit: contain;
}
.img___8ShYl > .__wab_img-spacer > img {
  object-fit: contain;
}
.freeBox__jGON {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jGON > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jGON > :global(.__wab_flex-container) > *,
.freeBox__jGON > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jGON > :global(.__wab_flex-container) > picture > img,
.freeBox__jGON
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__jGON {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__jGON > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__jGON > :global(.__wab_flex-container) > *,
  .freeBox__jGON > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jGON > :global(.__wab_flex-container) > picture > img,
  .freeBox__jGON
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.valueA222222:global(.__wab_instance) {
  position: relative;
}
.img__n8Bwd {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  height: auto;
  min-width: 0;
}
.img__n8Bwd > picture > img {
  object-fit: contain;
}
.img__n8Bwd > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__quAxs {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__quAxs > picture > img {
  object-fit: cover;
}
.img__quAxs > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__w84U1 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__w84U1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__w84U1 > :global(.__wab_flex-container) > *,
.freeBox__w84U1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w84U1 > :global(.__wab_flex-container) > picture > img,
.freeBox__w84U1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__w84U1 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__w84U1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .freeBox__w84U1 > :global(.__wab_flex-container) > *,
  .freeBox__w84U1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__w84U1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__w84U1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.valueA2322:global(.__wab_instance) {
  position: relative;
}
.img__goAT {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  min-width: 0;
}
.img__goAT > picture > img {
  object-fit: contain;
}
.img__goAT > .__wab_img-spacer > img {
  object-fit: contain;
}
.valueA22322:global(.__wab_instance) {
  position: relative;
}
.img___3TqUt {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  min-width: 0;
}
.img___3TqUt > picture > img {
  object-fit: contain;
}
.img___3TqUt > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__tcReg {
  width: 100%;
  max-width: 1200px;
  min-width: 0;
  border-radius: 12px;
}
.img__mpGDb {
  height: 52px;
}
.img__zBcLh {
  height: 40px;
}
.img__vfvl {
  height: 36px;
}
.img__f1RjW {
  height: 60px;
}
.img___9WuYv {
  position: relative;
  object-fit: cover;
  height: 50px;
}
.img___9WuYv > picture > img {
  object-fit: cover;
}
.img___9WuYv > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__kHcbI {
  height: 32px;
}
.img__t1Iiq {
  height: 28px;
}
.img__gcJYv {
  position: relative;
  object-fit: cover;
  height: 26px;
}
.img__gcJYv > picture > img {
  object-fit: cover;
}
.img__gcJYv > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__siM7O {
  position: relative;
  object-fit: cover;
  width: 148px;
  height: 51px;
}
.img__siM7O > picture > img {
  object-fit: cover;
}
.img__siM7O > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__g57NX {
  position: relative;
  object-fit: cover;
  width: 196px;
  height: 47px;
}
.img__g57NX > picture > img {
  object-fit: cover;
}
.img__g57NX > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__p77Fy {
  position: relative;
  object-fit: cover;
  width: 81px;
  height: 48px;
}
.img__p77Fy > picture > img {
  object-fit: cover;
}
.img__p77Fy > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__d2Ud6 {
  position: relative;
  object-fit: cover;
  width: 132px;
  height: 36px;
}
.img__d2Ud6 > picture > img {
  object-fit: cover;
}
.img__d2Ud6 > .__wab_img-spacer > img {
  object-fit: cover;
}
