.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  overflow: auto;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.pageHero:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__nQ7Tg {
  height: auto;
  color: rgb(129, 77, 231);
}
.graphicIcon__giFwm:global(.__wab_instance) {
  position: relative;
}
.svg__rmfhM {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.valuePropSection__pogIk:global(.__wab_instance) {
  position: relative;
}
.text___8Duce {
  height: auto;
}
.graphicIcon___4BbaK:global(.__wab_instance) {
  position: relative;
}
.svg__p0EYl {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img__iknVb {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__rJp1N:global(.__wab_instance) {
  position: relative;
}
.svg__prxvf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection___1PBLq:global(.__wab_instance) {
  position: relative;
}
.text__lzKsu {
  height: auto;
}
.text__abP3G {
  color: rgb(69, 189, 98);
  height: auto;
}
.graphicIcon__iJfbT:global(.__wab_instance) {
  position: relative;
}
.svg__vb2Zi {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img__gGk6A {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__laWcy:global(.__wab_instance) {
  position: relative;
}
.svg__q7Imx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__kskpv:global(.__wab_instance) {
  position: relative;
}
.text__dkHZ {
  color: rgb(247, 185, 40);
  height: auto;
}
.graphicIcon__g9M7H:global(.__wab_instance) {
  position: relative;
}
.svg__cNbz6 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img__okaa2 {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink___84PhO:global(.__wab_instance) {
  position: relative;
}
.svg___5Olzr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__bY8Zx:global(.__wab_instance) {
  position: relative;
}
.text__wqzyb {
  color: rgb(247, 185, 40);
  height: auto;
}
.graphicIcon__sg1J6:global(.__wab_instance) {
  position: relative;
}
.svg___7215I {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img__l4Vb4 {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__x9OdL:global(.__wab_instance) {
  position: relative;
}
.svg__b6EIn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__p9K4X:global(.__wab_instance) {
  position: relative;
}
.text__eLc4 {
  color: rgb(247, 185, 40);
  height: auto;
}
.graphicIcon__nrsn9:global(.__wab_instance) {
  position: relative;
}
.svg__ohP5D {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img__czjhq {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__xedZp:global(.__wab_instance) {
  position: relative;
}
.svg__a9UW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__w3R1:global(.__wab_instance) {
  position: relative;
}
.text__luNz7 {
  height: auto;
}
.text__ddbCl {
  color: rgb(69, 189, 98);
  height: auto;
}
.graphicIcon__uCUej:global(.__wab_instance) {
  position: relative;
}
.svg__bq1IN {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
}
.img__wWmaz {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__chXM:global(.__wab_instance) {
  position: relative;
}
.svg__i1R0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.bottomCtaSection:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
