.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  min-width: 0;
  min-height: 0;
}
.root__global_theme_dark {
  background: rgb(5, 5, 5);
}
.header:global(.__wab_instance) {
  position: relative;
  z-index: 999;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__umHBb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__umHBb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__umHBb > :global(.__wab_flex-container) > *,
.freeBox__umHBb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__umHBb > :global(.__wab_flex-container) > picture > img,
.freeBox__umHBb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.slotTargetSlot2 {
  color: #706f6c;
  font-size: 24px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .slotTargetSlot2 {
    font-size: 20px;
  }
}
.img__yxepq {
  width: 100%;
  max-width: 1016px;
  min-width: 0;
  border-radius: 12px;
}
.freeBox__zYfKe {
  display: flex;
  position: relative;
  flex-direction: row;
  background: none;
  filter: contrast(0%);
  height: auto;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: calc(0px + 32px) !important;
  margin-bottom: 0px;
}
.freeBox__zYfKe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zYfKe > :global(.__wab_flex-container) > *,
.freeBox__zYfKe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zYfKe > :global(.__wab_flex-container) > picture > img,
.freeBox__zYfKe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .freeBox__zYfKe {
    display: flex;
    margin-top: calc(0px + 32px) !important;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .freeBox__zYfKe > :global(.__wab_flex-container) {
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .freeBox__zYfKe > :global(.__wab_flex-container) > *,
  .freeBox__zYfKe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zYfKe > :global(.__wab_flex-container) > picture > img,
  .freeBox__zYfKe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 16px;
  }
}
.img__cSLqS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 130px;
  flex-shrink: 0;
}
.img__cSLqS > picture > img {
  object-fit: cover;
}
.img__cSLqS > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 640px) {
  .img__cSLqS {
    width: 65px;
    flex-shrink: 0;
  }
}
.img__cn9R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 142px;
  flex-shrink: 0;
}
.img__cn9R > picture > img {
  object-fit: cover;
}
.img__cn9R > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 640px) {
  .img__cn9R {
    width: 71px;
    flex-shrink: 0;
  }
}
.img__bxSgp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 117px;
  flex-shrink: 0;
}
.img__bxSgp > picture > img {
  object-fit: cover;
}
.img__bxSgp > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 640px) {
  .img__bxSgp {
    width: 58.5px;
    flex-shrink: 0;
  }
}
.img__cwsmM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 133px;
  flex-shrink: 0;
}
.img__cwsmM > picture > img {
  object-fit: cover;
}
.img__cwsmM > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 640px) {
  .img__cwsmM {
    width: 66.5px;
    flex-shrink: 0;
  }
}
.img__xaMjs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 201px;
  flex-shrink: 0;
}
.img__xaMjs > picture > img {
  object-fit: cover;
}
.img__xaMjs > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 640px) {
  .img__xaMjs {
    width: 100.5px;
    flex-shrink: 0;
  }
}
.freeBox__eveTp {
  display: flex;
  position: relative;
  flex-direction: column;
  transform: skewX(0deg) skewY(0deg);
  z-index: 9;
  background: url("/plasmic/nextjs_ableaura_com/images/image7.svg") left 50% bottom 0% / cover repeat;
  padding: 128px 32px 96px;
}
.freeBox__eveTp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__eveTp > :global(.__wab_flex-container) > *,
.freeBox__eveTp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eveTp > :global(.__wab_flex-container) > picture > img,
.freeBox__eveTp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__xs33Y {
  display: block;
  position: absolute;
  background: #0f1b2d;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: skewX(0deg) skewY(2deg);
}
.freeBox__xp9Me {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__xp9Me > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xp9Me > :global(.__wab_flex-container) > *,
.freeBox__xp9Me > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xp9Me > :global(.__wab_flex-container) > picture > img,
.freeBox__xp9Me
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qSxx5 {
  font-size: 40px;
  line-height: 1.1;
  font-family: Really Sans Large;
  font-weight: 900;
  color: #ededec;
  text-align: center;
}
.text__aXxvp {
  font-size: 24px;
  line-height: 1.33;
  height: auto;
  color: #ededec;
  text-align: center;
}
.text__eji1 {
  height: auto;
  color: rgb(255, 255, 255);
}
.svg__ozfG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: rgb(0, 53, 94);
}
.quotesScroller__rVaZo:global(.__wab_instance) {
  position: relative;
}
.freeBox__ay7WR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.makeEditable:global(.__wab_instance) {
  position: relative;
}
.slotTargetChildren {
  color: rgba(0, 0, 0, 0);
  text-align: center;
}
.slotTargetChildren > .__wab_text,
.slotTargetChildren > .__wab_slot-string-wrapper,
.slotTargetChildren > .__wab_slot > .__wab_text,
.slotTargetChildren > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetChildren
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: none;
  text-overflow: clip;
}
.slotTargetChildren__global_theme_altHeadlineFont {
  font-family: "Poppins", sans-serif;
}
.text__ynxM {
  text-align: center;
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-overflow: clip;
  background: linear-gradient(
      333deg,
      rgb(24, 119, 242) 0%,
      rgb(118, 182, 255) 100%
    )
    padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
.freeBox___6Fgnu {
  display: flex;
  flex-direction: column;
}
.freeBox___6Fgnu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___6Fgnu > :global(.__wab_flex-container) > *,
.freeBox___6Fgnu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Fgnu > :global(.__wab_flex-container) > picture > img,
.freeBox___6Fgnu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.graphicIcon___3ZbTq:global(.__wab_instance) {
  position: relative;
}
.svg__w8PWa {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider___9Bmw:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text__dYilE {
  height: auto;
}
.graphicIcon__rlcNx:global(.__wab_instance) {
  position: relative;
}
.svg__mFub1 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider__wVfL:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text__yc29K {
  height: auto;
}
.graphicIcon__v1Yd:global(.__wab_instance) {
  position: relative;
}
.svg__dMrV {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.makeEditableImage {
  object-fit: contain;
  height: auto;
  border-radius: 12px;
}
.makeEditableImage > picture > img {
  object-fit: contain;
}
.makeEditableImage > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 750px) {
  .makeEditableImage {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .makeEditableImage {
    width: 100%;
    min-width: 0;
  }
}
.belowFoldCtaRow:global(.__wab_instance) {
  position: relative;
}
.first:global(.__wab_instance) {
  position: relative;
}
.text__fMWwW {
  text-align: center;
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none !important;
  text-overflow: clip !important;
  background: linear-gradient(
      333deg,
      rgb(24, 119, 242) 0%,
      rgb(118, 182, 255) 100%
    )
    padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 640px) {
  .text__fMWwW {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }
}
.text__global_theme_altHeadlineFont__fMWwWZbUeX {
  font-family: "Poppins", sans-serif;
}
.img__u874B {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__t7UPe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.freeBox__ss6Sc {
  box-shadow: 2px 4px 12px 0px #00000012;
  background: rgb(255, 255, 255);
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__ss6Sc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ss6Sc > :global(.__wab_flex-container) > *,
.freeBox__ss6Sc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ss6Sc > :global(.__wab_flex-container) > picture > img,
.freeBox__ss6Sc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__catsr {
  display: flex;
  flex-direction: column;
}
.freeBox__catsr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__catsr > :global(.__wab_flex-container) > *,
.freeBox__catsr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__catsr > :global(.__wab_flex-container) > picture > img,
.freeBox__catsr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.graphicIcon___32NB:global(.__wab_instance) {
  position: relative;
}
.svg__bexgn {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider__wRedm:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text__tsYi {
  height: auto;
}
.graphicIcon__b1Tjg:global(.__wab_instance) {
  position: relative;
}
.svg__hk5G5 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider__dwzC6:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text__jr2Fk {
  height: auto;
}
.graphicIcon__eDg1M:global(.__wab_instance) {
  position: relative;
}
.svg__bhxUh {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242);
}
.divider__bWkR0:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.text__g0Woh {
  height: auto;
}
.graphicIcon__a9Y9X:global(.__wab_instance) {
  position: relative;
}
.svg__phrbn {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(0, 139, 208);
}
.section___0OcSj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.freeBox__zvWm3 {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1024px;
  width: 100%;
  min-width: 0;
  padding: 24px;
}
.img___4SfN {
  width: 100%;
  min-width: 0;
}
.integrateAnywhereSection__k1N0Q:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section__fHay {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.integrations:global(.__wab_instance) {
  position: relative;
}
.developerFlexibilitySection:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  display: none;
}
.limitlessExpressivitySectionForSites:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.hitGroundRunningSection:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.quotesScroller__gk2Gx:global(.__wab_instance) {
  position: relative;
}
.testimonialsBottom:global(.__wab_instance) {
  position: relative;
}
.bottomCtaSection:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
