.root:global(.__wab_instance) {
  position: relative;
}
.text__qiDwo {
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(333deg, #0091ff 0%, #96c7f2 100%) padding-box
    /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__global_theme_altHeadlineFont__qiDwoZbUeX {
  font-family: "Poppins", sans-serif;
}
.img__essMq {
  position: absolute;
  bottom: 0px;
  pointer-events: none;
}
.valueB1:global(.__wab_instance) {
  position: relative;
}
.graphicIcon___5MI8Q:global(.__wab_instance) {
  position: relative;
}
.svg__wCuuZ {
  position: relative;
  width: 32px;
  height: 32px;
  color: #0091ff;
}
.linky__eeYMs:global(.__wab_instance) {
  position: relative;
}
.text__cttYw {
  color: rgb(4, 164, 244);
}
.img__sLlPa {
  position: relative;
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.img__sLlPa > picture > img {
  object-fit: cover;
}
.img__sLlPa > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueB42:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__prZt5:global(.__wab_instance) {
  position: relative;
}
.svg__xySnx {
  position: relative;
  width: 32px;
  height: 32px;
  color: #0091ff;
}
.linky___4O5Ki:global(.__wab_instance) {
  position: relative;
}
.text___92Pw7 {
  color: rgb(4, 164, 244);
}
.img__kPnL {
  position: relative;
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.img__kPnL > picture > img {
  object-fit: cover;
}
.img__kPnL > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueB2:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__gKtZ:global(.__wab_instance) {
  position: relative;
}
.svg__rSwvP {
  position: relative;
  width: 32px;
  height: 32px;
  color: #0091ff;
}
.linky__sFfLr:global(.__wab_instance) {
  position: relative;
}
.text__ie55V {
  color: rgb(4, 164, 244);
}
.img__vK6Q7 {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueB4:global(.__wab_instance) {
  position: relative;
  display: none;
}
.graphicIcon__xwUxG:global(.__wab_instance) {
  position: relative;
}
.svg__oQ25 {
  position: relative;
  width: 32px;
  height: 32px;
  color: #0091ff;
}
.linky__fcp29:global(.__wab_instance) {
  position: relative;
}
.text__rnaDj {
  color: rgb(4, 164, 244);
}
.img__wp8AA {
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: 0% 50%;
  min-width: 0;
}
.img__wp8AA > picture > img {
  object-fit: cover;
  object-position: 0% 50%;
}
.img__wp8AA > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 0% 50%;
}
.valueB3:global(.__wab_instance) {
  position: relative;
}
.graphicIcon___6U5Rx:global(.__wab_instance) {
  position: relative;
}
.svg__leSXe {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(4, 164, 244);
}
.linky__sqLxn:global(.__wab_instance) {
  position: relative;
}
.text__uouIa {
  color: rgb(4, 164, 244);
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: rgb(245, 247, 250);
}
.img__ouHsT {
  width: 100%;
  object-fit: contain;
  min-width: 0;
}
.img__ouHsT > picture > img {
  object-fit: contain;
}
.img__ouHsT > .__wab_img-spacer > img {
  object-fit: contain;
}
