.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.banner:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .banner:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .banner:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.banner__global_theme_dark:global(.__wab_instance) {
  flex-shrink: 0;
}
.banner__showMobileMenu:global(.__wab_instance) {
  flex-shrink: 0;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .section {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1024px;
  min-width: 0;
}
.container > :global(.__wab_flex-container) {
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .container > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .container > :global(.__wab_flex-container) > *,
  .container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container > :global(.__wab_flex-container) > picture > img,
  .container
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.logo:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 750px) {
  .logo:global(.__wab_instance) {
    width: 54px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .logo:global(.__wab_instance) {
    left: auto;
    top: auto;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  @media (min-width: 0px) and (max-width: 750px) {
    .logo:global(.__wab_instance) {
      width: auto;
    }
  }
}
.freeBox__vz6LF {
  display: flex;
  position: relative;
  align-self: center;
}
.freeBox__vz6LF > :global(.__wab_flex-container) {
  align-items: stretch;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vz6LF > :global(.__wab_flex-container) > *,
.freeBox__vz6LF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vz6LF > :global(.__wab_flex-container) > picture > img,
.freeBox__vz6LF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__showMobileMenu__vz6LFyutRk {
  opacity: 0;
}
.linky__fA93H:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 640px) {
  .linky__fA93H:global(.__wab_instance) {
    display: none;
  }
}
.text__aJyFr {
  height: auto;
  width: auto;
  display: inline-block;
}
.freeBox__kfrOf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kfrOf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kfrOf > :global(.__wab_flex-container) > *,
.freeBox__kfrOf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kfrOf > :global(.__wab_flex-container) > picture > img,
.freeBox__kfrOf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .freeBox__kfrOf {
    display: none;
  }
}
.linky__bsJnJ:global(.__wab_instance) {
  align-self: center;
}
.svg__iyjMj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linky__bFgpT:global(.__wab_instance) {
  align-self: center;
}
.svg__mNmZx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linky__ndCn5:global(.__wab_instance) {
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 750px) {
  .linky__ndCn5:global(.__wab_instance) {
    display: none;
  }
}
.text__fuEiV {
  height: auto;
}
.text___9MGs {
  height: auto;
}
.text__lbvW6 {
  height: auto;
}
.hamburgerMenu:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 640px) {
  .hamburgerMenu:global(.__wab_instance) {
    display: flex;
  }
}
.hamburgerMenu__showMobileMenu:global(.__wab_instance) {
  display: none;
}
.svg__qPik7 {
  width: 1em;
  height: 1em;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 640px) {
  .svg__qPik7 {
    color: #0091ff;
  }
}
.svg__global_theme_dark__qPik7UgT9R {
  color: rgb(176, 179, 184);
}
@media (min-width: 0px) and (max-width: 750px) {
  .loginButton:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .loginButton:global(.__wab_instance) {
    display: none;
  }
}
.svg__ylB6H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.signupButton:global(.__wab_instance) {
  margin-left: calc(8px + 8px) !important;
}
@media (min-width: 0px) and (max-width: 750px) {
  .signupButton:global(.__wab_instance) {
    margin-left: calc(8px + 8px) !important;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .signupButton:global(.__wab_instance) {
    margin-left: calc(0px + 8px) !important;
  }
}
.signupButton__global_theme_dark:global(.__wab_instance) {
  margin-left: calc(8px + 8px) !important;
}
@media (min-width: 0px) and (max-width: 750px) {
  @media (min-width: 0px) and (max-width: 640px) {
    .signupButton:global(.__wab_instance) {
      margin-left: calc(0px + 8px) !important;
    }
  }
}
.svg__zUdnp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.mobileNav {
  box-shadow: 2px 4px 12px 0px #00000012;
  background: rgb(255, 255, 255);
  position: absolute;
  flex-direction: column;
  top: 80px;
  max-width: 320px;
  z-index: 999;
  display: none;
  border-radius: 16px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .mobileNav {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .mobileNav__showMobileMenu {
    display: flex;
  }
}
.linky___0HXf:global(.__wab_instance) {
  position: relative;
}
.linky__kHnKx:global(.__wab_instance) {
  position: relative;
}
.linky__xLyQc:global(.__wab_instance) {
  position: relative;
}
.linky__n4I5:global(.__wab_instance) {
  align-self: center;
}
.svg__oLqI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linky__t5R6Z:global(.__wab_instance) {
  align-self: center;
}
.svg__rG4Jk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linky__edcJj:global(.__wab_instance) {
  align-self: center;
}
.svg__nG1Zy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linky__txVPa:global(.__wab_instance) {
  position: relative;
}
.linky__mIYqH:global(.__wab_instance) {
  position: relative;
}
.freeBox__xgDrc {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.freeBox__xgDrc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xgDrc > :global(.__wab_flex-container) > *,
.freeBox__xgDrc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xgDrc > :global(.__wab_flex-container) > picture > img,
.freeBox__xgDrc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__cfddh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.svg__rq4Nn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.freeBox___4ZPOe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
}
.linky__q1Afe:global(.__wab_instance) {
  align-self: center;
}
.svg__tShRc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uw507 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
