.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root__global_theme_dark {
  background: rgb(5, 5, 5);
}
.header:global(.__wab_instance) {
  position: relative;
  z-index: 999;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.freeBox___6Klad {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  background: url("/plasmic/nextjs_ableaura_com/images/image96.svg") left 50% top 50% / cover repeat;
  min-width: 0;
  padding: 128px 32px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .freeBox___6Klad {
    padding: 64px 32px;
  }
}
.freeBox___5Kkf {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox___5Kkf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5Kkf > :global(.__wab_flex-container) > *,
.freeBox___5Kkf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Kkf > :global(.__wab_flex-container) > picture > img,
.freeBox___5Kkf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__f04HV {
  max-width: 640px;
  align-self: center;
  text-align: center;
  color: #ffffffbd;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 640px) {
  .text__f04HV {
    text-align: left;
  }
}
.text__sn8Dc {
  font-size: 56px;
  line-height: 1.07;
  font-family: Really Sans Large;
  font-weight: 900;
  max-width: 640px;
  align-self: center;
  text-align: center;
  color: #ffffffeb;
}
@media (min-width: 0px) and (max-width: 640px) {
  .text__sn8Dc {
    text-align: left;
  }
}
.text__kSoz9 {
  max-width: 640px;
  align-self: center;
  text-align: center;
  color: #ffffffbd;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 640px) {
  .text__kSoz9 {
    text-align: left;
  }
}
.text__nXjZ {
  max-width: 640px;
  align-self: center;
  text-align: center;
  color: #ffffffbd;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: calc(12px + 8px) !important;
}
@media (min-width: 0px) and (max-width: 640px) {
  .text__nXjZ {
    text-align: left;
    margin-top: calc(12px + 8px) !important;
  }
}
.freeBox__gsMpR {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: url("/plasmic/nextjs_ableaura_com/images/image2.svg") left 50% bottom 0% / cover repeat,
    #f5f2ff;
  min-width: 0;
  padding: 32px;
}
.freeBox__gsMpR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gsMpR > :global(.__wab_flex-container) > *,
.freeBox__gsMpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gsMpR > :global(.__wab_flex-container) > picture > img,
.freeBox__gsMpR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__kud9P {
  box-shadow: 2px 4px 12px 0px #00000012;
  background: rgb(255, 255, 255);
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__kud9P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kud9P > :global(.__wab_flex-container) > *,
.freeBox__kud9P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kud9P > :global(.__wab_flex-container) > picture > img,
.freeBox__kud9P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__vydSm {
  font-size: 32px;
  line-height: 1.13;
  font-family: Really Sans Large;
  font-weight: 900;
}
@media (min-width: 0px) and (max-width: 640px) {
  .text__vydSm {
    text-align: left;
  }
}
.text__global_theme_dark__vydSmUgT9R {
  color: #ededec;
}
.text__global_theme_dark__iN2FbUgT9R {
  color: #ededec;
}
.text__global_theme_dark__ry18BUgT9R {
  color: #ededec;
}
.text__global_theme_dark__uGgjmUgT9R {
  color: #ededec;
}
.freeBox__h0Pi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__h0Pi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__h0Pi > :global(.__wab_flex-container) > *,
.freeBox__h0Pi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h0Pi > :global(.__wab_flex-container) > picture > img,
.freeBox__h0Pi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__kPAhj:global(.__wab_instance) {
  position: relative;
}
.bullet__kTQtb:global(.__wab_instance) {
  position: relative;
}
.bullet__rsRI:global(.__wab_instance) {
  position: relative;
}
.bullet__qodCs:global(.__wab_instance) {
  position: relative;
}
.bullet__xor1I:global(.__wab_instance) {
  position: relative;
}
.bullet__kjg1O:global(.__wab_instance) {
  position: relative;
}
.bullet___6J4Ds:global(.__wab_instance) {
  position: relative;
}
.bullet__x5AlL:global(.__wab_instance) {
  position: relative;
}
.text__skrej {
  font-size: 32px;
  line-height: 1.13;
  font-family: Really Sans Large;
  font-weight: 900;
  margin-top: calc(24px + 16px) !important;
}
@media (min-width: 0px) and (max-width: 640px) {
  .text__skrej {
    text-align: left;
    margin-top: calc(24px + 16px) !important;
  }
}
.text__global_theme_dark__skrejUgT9R {
  color: #ededec;
  margin-top: calc(24px + 16px) !important;
}
.text__global_theme_dark__pPMipUgT9R {
  color: #ededec;
}
.text__global_theme_dark__rjpGnUgT9R {
  color: #ededec;
}
.text__global_theme_dark__zopXdUgT9R {
  color: #ededec;
}
.freeBox__hwCmb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hwCmb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hwCmb > :global(.__wab_flex-container) > *,
.freeBox__hwCmb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hwCmb > :global(.__wab_flex-container) > picture > img,
.freeBox__hwCmb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__hpoxh:global(.__wab_instance) {
  position: relative;
}
.bullet__wPxH0:global(.__wab_instance) {
  position: relative;
}
.bullet___82VKe:global(.__wab_instance) {
  position: relative;
}
.bullet__h6Nf:global(.__wab_instance) {
  position: relative;
}
.bullet__zPsDs:global(.__wab_instance) {
  position: relative;
}
.bullet__wmXwL:global(.__wab_instance) {
  position: relative;
}
.text__global_theme_dark__yPvWqUgT9R {
  color: #ededec;
}
.freeBox___6VdXi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6VdXi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6VdXi > :global(.__wab_flex-container) > *,
.freeBox___6VdXi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6VdXi > :global(.__wab_flex-container) > picture > img,
.freeBox___6VdXi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__hcqG:global(.__wab_instance) {
  position: relative;
}
.bullet__x9Nf9:global(.__wab_instance) {
  position: relative;
}
.bullet__juT6Y:global(.__wab_instance) {
  position: relative;
}
.bullet__stdc6:global(.__wab_instance) {
  position: relative;
}
.bullet__babVn:global(.__wab_instance) {
  position: relative;
}
.text__global_theme_dark__zrEjqUgT9R {
  color: #ededec;
}
.text__c9Y7L {
  font-size: 32px;
  line-height: 1.13;
  font-family: Really Sans Large;
  font-weight: 900;
  margin-top: calc(24px + 16px) !important;
}
@media (min-width: 0px) and (max-width: 640px) {
  .text__c9Y7L {
    text-align: left;
    margin-top: calc(24px + 16px) !important;
  }
}
.text__global_theme_dark__c9Y7LUgT9R {
  color: #ededec;
  margin-top: calc(24px + 16px) !important;
}
.text__global_theme_dark__da5LvUgT9R {
  color: #ededec;
}
.buttonLink:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.svg__i3Apx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
