.root {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  max-width: 800px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.valuePropCard__zONv2:global(.__wab_instance) {
  position: relative;
}
.img__k159A {
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.img__k159A > picture > img {
  object-fit: contain;
}
.img__k159A > .__wab_img-spacer > img {
  object-fit: contain;
}
.valuePropCard__sv8F3:global(.__wab_instance) {
  position: relative;
}
.img__zaE14 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zaE14 > picture > img {
  object-fit: cover;
}
.img__zaE14 > .__wab_img-spacer > img {
  object-fit: cover;
}
.valuePropCard__jwhKe:global(.__wab_instance) {
  position: relative;
}
.img__i6Gcr {
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.img__i6Gcr > picture > img {
  object-fit: contain;
}
.img__i6Gcr > .__wab_img-spacer > img {
  object-fit: contain;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.column__rdKRj {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 640px) {
  .column__rdKRj {
    width: auto;
  }
}
.firstStepLink__rdVe3:global(.__wab_instance) {
  position: relative;
}
.column__uHt9L {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 640px) {
  .column__uHt9L {
    width: auto;
  }
}
.firstStepLink__kVdZu:global(.__wab_instance) {
  position: relative;
}
.column___2NU1H {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 640px) {
  .column___2NU1H {
    width: auto;
  }
}
.firstStepLink__qqeAf:global(.__wab_instance) {
  position: relative;
}
